{% load staticfiles %}
<html>
    <head>
        <!-- Animate.css -->
<link rel="stylesheet" href="{% static 'base/style2.css'  %}">
</head>
<body>
    <div class="container">
                <div class="form-container sign-in-container">
                    <h2>Agregar Enfermedad</h2>
                    <a href="Enfermedad"><button class="ghost" id="signIn">Agregar</button></a>
                    <pre>
                        
                        
                        
                    </pre>
                    <h2>Agregar Vacuna</h2>
                    <a href="Vacuna"><button class="ghost" id="signIn">Agregar</button></a>
                </div>
                <div class="overlay-container">
                <div class="overlay">

                <div class="overlay-panel overlay-right">
                    <h2>Agregar Alergia</h2>
                    <a href="Alergia"><button class="ghost" id="signIn">Agregar</button></a>
            </div>
        </div>
    </div>
    </div>
    <footer>
        <p>
        <i class="fa fa-heart"></i>
        Quarknet equipo de soluciones físicas factibles
        <a href="Menu">Menú Inicial</a>.
        </p>
    </footer>
</body>
