
{% extends 'base/base.html' %}
{% block content %}
<!--<div class="colorlib-loader"></div>-->
<section>
<div class="container" id="container">
<div class="overlay-container">
<form method="post">
    {% csrf_token %}
    {{ form.as_table }}
    <button class="active" id="signIn">Buscar</button>
</form>
</div>
</div>
</section>
{% endblock %}
