{% load staticfiles %}
<html>
    <head>
        <!-- Animate.css -->
<link rel="stylesheet" href="{% static 'base/style2.css'  %}">
</head>
<body>
    <div class="container">
                <div class="form-container sign-in-container">
                    {% if paciente %}
                    <h2>Nombre:</h2>
                    <h3>{{ paciente.Nombre }}</h3>
                    <h2>Appellidos:</h2>
                    <h3>{{ paciente.Apellido }}</h3>
                    <h2>Cédula:</h2>
                    <h3>{{ paciente.ID }}</h3>
                    <h2>Lugar de Nacimiento:</h2>
                    <h3>{{ paciente.LugarNacimiento }}</h3>
                    {% else %}
                    <h2>El Usuario No existe. Presione el botón para buscar otro Usuario</h2>
                    <a href="Buscar"><button class="ghost" id="signIn">Buscar</button></a>
                    {% endif %}
                </div>
                <div class="overlay-container">
                <div class="overlay">

                <div class="overlay-panel overlay-right">
                    {% if paciente %}
                    <h2>Sexo:</h2>
                    <h3>{{ paciente.Sexo}}</h3>
                    <h2>Fecha de Nacimiento:</h2>
                    <h3>{{ paciente.FechaDeNacimiento}}</h3>
                    <h2>Eps:</h2>
                    <h3>{{ paciente.Eps }}</h3>
                    <h2>Tipo de Sangre:</h2>
                    <h3>{{ paciente.Tipo }}</h3>
                    <h2>Rh:</h2>
                    <h3>{{ paciente.RH }}</h3>
                    {% else %}
                    <p>No hay datos disponibles.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
    <footer>
        <p>
        <i class="fa fa-heart"></i>
        Quarknet equipo de soluciones físicas factibles
        <a href="Menu">Menú Inicial</a>.
        </p>
    </footer>
</body>
