{% load staticfiles %}
<html>
    <head>
        <!-- Animate.css -->
<link rel="stylesheet" href="{% static 'base/style2.css'  %}">
</head>
<body>
    <div class="container">
                <div class="form-container sign-in-container">
                    {% if paciente %}
                    <h2>Nombre:</h2>
                    <h3>{{ paciente.Nombre }}</h3>
                    <h2>Appellidos:</h2>
                    <h3>{{ paciente.Apellido }}</h3>
                    {% else %}
                    <h2>El Usuario No existe. Presione el botón para buscar otro Usuario</h2>
                    <a href="Buscar"><button class="ghost" id="signIn">Buscar</button></a>
                    {% endif %}
                </div>
                <div class="overlay-container">
                <div class="overlay">

                <div class="overlay-panel overlay-right">
                    {% if paciente %}
                    <details>
                        <summary><h2>Alergias:</h2>
                        </summary>
                        {% for alergias in paciente.Alergias %}
                        <h1>{{ alergias }}</h1>
                        {% endfor %}
                    </details>
                    <details>
                     <summary><h2>Enfermedades:</h2>
                     </summary>
                    {% for enfermedades,fecha in paciente.Enfermedades %}
                    <p><abbr title={{ fecha }}>{{ enfermedades }}</abbr></p>
                    {% endfor %}
                    </details>
                    <details>
                        <summary> <h2>Vacunas:</h2> </summary>
                        {% for vacunas in paciente.Vacunas %}
                        <p>{{ vacunas }}</p>
                        {% endfor %}
                    </details>
                    {% else %}
                    <p>No hay datos disponibles.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
    <footer>
        <p>
        <i class="fa fa-heart"></i>
        Quarknet equipo de soluciones físicas factibles
        <a href="Menu">Menú Inicial</a>.
        </p>
    </footer>
</body>
