{% load staticfiles %}
<html>
    <head>
        <!-- Animate.css -->
        <link rel="stylesheet" href="{% static 'base/style.css'  %}">
    </head>
    <body>
<!--<div class="colorlib-loader"></div>-->
<section>
<div class="container" id="container">
<div class="overlay-container">
<form method="post">
    {% csrf_token %}
    {{ form.as_table }}
    <button class="active" id="signIn">Agregar</button>
</form>
</div>
</div>
<footer>
    <p>
    {% if Data %}
    {{ Data }}
    {% endif %}
    <a href="Menu">Menú Inicial</a>.
    </p>
</footer>
</body>
</html>

