{% extends 'base/base.html' %}
{% block content %}
<!--<div class="colorlib-loader"></div>-->
<section>
    <div class="container" id="container">
        <div class="overlay-container">
            <form method="post">
                {% csrf_token %}
                <h2>No es posible agregar este usuario, ya existe un usuario con el mismo documento. </h2>
                
                <button class="active"><a href="crear">Agregar</a></button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
