
{% extends 'base/base.html' %}
{% block content %}
<!--<div class="colorlib-loader"></div>-->
<section>
<div class="container" id="container">
<div class="overlay-container">
    <form method="post">
    {% csrf_token %}
    <h2>El Usuario fue agregado con éxito</h2>

    <button class="active" id="signIn"><a href="Menu">Inicio</a></button>
    </form>
</div>
</div>
</section>
{% endblock %}
