
{% extends 'base/base.html' %}
{% block content %}
<!--<div class="colorlib-loader"></div>-->
<section>
{% load staticfiles %}
<div class="container" id="container">
<div class="overlay-container">
    <form method="post">
    {% csrf_token %}
    <img alt="Analisis de VIH" src="{% static 'base/VIH.jpeg' %}" width="460" height="345">
    </form>
</div>
</div>
</section>
{% endblock %}
