{% extends 'base/base.html' %}
{% block title %}
Sign In
{% endblock %}
{% block navbar%}
{% endblock %}
{% block content %}
<section>
    <div class="container" id="container">
    <div class="overlay-container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_table }}
            <button class="active" id="signIn">Sign In</button>
        </form>
    </div>
    </div>
</section>


{% endblock %}
