{% load staticfiles %}
<html>
    <head>
        <!-- Animate.css -->
<link rel="stylesheet" href="{% static 'base/style2.css'  %}">
</head>
<body>
    <div class="container">
                <div class="form-container sign-in-container">
                    <h2>Agregar Nuevo Usuario</h2>
                    <a href="crear"><button class="ghost" id="signIn">Agregar</button></a>
                    <pre>
                        
                        
                        
                    </pre>
                    <h2>Agregar Diagnostico a Usuario</h2>
                    <a href="Menu_Add"><button class="ghost" id="signIn">Diagnostico</button></a>
                    <pre>
                        
                        
                        
                    </pre>
                    <h2>Agregar Resultados Examen</h2>
                    <a href="Upload"><button class="ghost" id="signIn">Agregar</button></a>
                </div>
                <div class="overlay-container">
                <div class="overlay">

                <div class="overlay-panel overlay-right">
                    <h2>Buscar Información Personal de Usuario Existente</h2>
                    <a href="Buscar"><button class="ghost" id="signIn">Buscar</button></a>
                    <pre>
                    
                    
                    
                    </pre>
                    <h2>
                        Buscar Enfermedades de Usuario Existente</h2>
                    <a href="Buscar2"><button class="ghost" id="signIn">Buscar</button></a>
                    <pre>
                        
                        
                        
                    </pre>
                    <h2>Realizar Analisis Estadistico</h2>
                    <a href="Analisis"><button class="ghost" id="signIn">Análisis</button></a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <footer>
        <p>
        <i class="fa fa-heart"></i>
        Quarknet equipo de soluciones físicas factibles
        <a href="Menu">Menú Inicial</a>.
        </p>
    </footer>
</body>
