{% load staticfiles %}
<html>
    <head>
        <!-- Animate.css -->
        <link rel="stylesheet" href="{% static 'base/style.css'  %}">
    </head>
    <body>
<!--<div class="colorlib-loader"></div>-->
<section>
<div class="container" id="container">
<div class="overlay-container">
 <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button class="active" type="submit">Upload</button>
</form>
{% if uploaded_file_url %}
<p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
{% endif %}
</div>
</div>
<footer>
    <p>
    <i class="fa fa-heart"></i>
    Quarknet equipo de soluciones físicas factibles
    <a href="Menu">Menú Inicial</a>.
    </p>
</footer>
</body>
</html>

