{% load staticfiles %}
<html>
<head>
<!-- Animate.css -->
<link rel="stylesheet" href="{% static 'base/style.css'  %}">
</head>
<body>
    {% block content %}
{% endblock %}
<footer>
    <p>
     <i class="fa fa-heart"></i>
    Quarknet equipo de soluciones físicas factibles
    <a href="Menu">Menú Inicial</a>.
    </p>
</footer>
 </body>
</html>
